HELP.md
target/
.mvn
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/.mvn/
/keycloak ENTREGA.zip
/mvnw
/mvnw.cmd
/docker-auth/


/.gradle/
.idea/dataSources.local.xml
.idea/dataSources/
.idea/workspace.xml
comum/src/main/java/comum/model/dto/contaos/
contingencia/src/main/java/cbmgo/codec/contingencia/model/Geometry.java
contingencia/src/main/java/cbmgo/codec/contingencia/model/Properties.java

/.idea/
!/chatbot/rhbot1/models/
!/chatbot/rhbot/models/
!/chatbot/rhbot1/models/
!/chatbot/rhbot/models/
!/.idea/
!/chatbot/rhbot/models/
!/.idea/
.idea/compiler.xml
.idea/dataSources.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/shelf/
.idea/uiDesigner.xml
chatbot/rhbot/actions/__pycache__/
chatbot/rhbot1/actions/__pycache__/
chatbot/rhbot1/models/
contingencia/src/main/java/cbmgo/codec/contingencia/repository/CategoryRepository.java
telegram/src/main/java/telegram/repository/
telegram0/.gitignore
telegram0/README.md
telegram0/pom.xml
telegram0/src/
/.idea/
/lib/
